* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

h1 {
      text-align: center;
      padding: 10px;
      color: white;
      box-shadow: 5px 10px 5px white;
}

.padre {
      display: flex;
      flex-direction: column;
      /* Alinea los hijos uno debajo del otro */
      justify-content: center;
      /* Centra verticalmente en el contenedor */
      align-items: center;
      /* Centra horizontalmente */
      min-height: 100vh;
      /* Hace que el contenedor ocupe toda la pantalla */
      text-align: center;
      background: linear-gradient(135deg, #bd2f28 50px, #89a7b1 100%);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      font-style: oblique;
      gap: 20px;
      font-style: oblique;
      animation: infinite fondo 5s;
}

@keyframes fondo {
      0%{
            background: #89a7b1;
      }
      50%{
            background: #bd2f28;
      }
      100%{
            background: #89a7b1;
      }
}

.hijo {
      margin-top: 30px;
      /* Un poco de aire entre el título y el acceso */
      padding: 20px;
      border: 1px solid #ccc;
      /* Solo para que veas el recuadro del hijo */
      border-radius: 10px;
      display: flex;
      gap: 7px;
      flex-direction: column;
      box-shadow: white 10px 10px 10px 10px;
}

.hijo_menor {
      gap: 15px;
      display: flex;
      transition: 1s;
      outline: none;
      justify-content: space-between;
      flex-direction: column;
}

.Tbx {
      border: none;
      height: 30px;
      width: 50vh;
      border-radius: 10px;
      font-size: 15px;
      text-align: center;
      cursor: pointer;
}

h2 {
      color: white;
}

h3 {
      color: white;
      text-align: left;
}

h4 {
      color: white;
}

.Btn_ingreso {
      padding: 10px 20px;
      background: white;
      color: black;
      font-weight: bold;
      border-radius: 10px;
      transition: 1s;
      border: none;
      font-style: oblique;
      cursor: pointer;
}

.Btn_ingreso:hover {
      transform: scale(1.1);
      background: linear-gradient(135deg, #bd2f28 50px, #89a7b1 100%);
      color: white;
}


.Btn_registro {
      padding: 10px 20px;
      background: white;
      color: black;
      font-weight: bold;
      border-radius: 10px;
      transition: 1s;
      border: none;
      cursor: pointer;
      width: 100%;
      text-decoration: none;
}

.Btn_registro:hover {
      transform: scale(1.1);
      background: linear-gradient(135deg, #bd2f28 50px, #89a7b1 100%);
      color: white;
}