<!DOCTYPE html>
<html lang="es">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/Style/Index.css">
      <link rel="icon" href="/Icon/Icono.svg" type="image/svg+xml">
      <title>Inicio</title>

</head>
<body>
      <div class="Contenedor_padre">
            <nav>
                  <ul class="Lista">
                        <li><a href="#">Tienda de Ropa K & J</a> </li>
                        <li> <a href="#">Inicio</a></li>
                        <li> <a href="#">Ayuda</a></li>
                        <li> <a href="#">Ubicacion</a></li>
                        <li class="Carito_compra"><a href="#"></a></li>
                  </ul>
            </nav>
            <div class="hero">
                  <h1>Bienvenido a K & J</h1>
                  <p>Ropa moderna, cómoda y al mejor precio.</p>
                  <a href="#" class="btn-hero">Ver Productos</a>
            </div>
            <div class="productos">
                  <h2>Nuestros Productos</h2>
            
                  <div class="contenedor-productos">
            
                        <div class="card">
                              <div class="img"></div>
                              <h3>Camisa Clásica</h3>
                              <p>$25.00</p>
                              <button>Añadir al carrito</button>
                        </div>
            
                        <div class="card">
                              <div class="img"></div>
                              <h3>Pantalón Azul</h3>
                              <p>$35.00</p>
                              <button>Añadir al carrito</button>
                        </div>
            
                        <div class="card">
                              <div class="img"></div>
                              <h3>Sudadera Negra</h3>
                              <p>$28.00</p>
                              <button>Añadir al carrito</button>
                        </div>
            
                  </div>
            </div>

      </div>
</body>

</html>