<!DOCTYPE html>
<html lang="es">

<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Log In</title>
      <link rel="stylesheet" href="/Style/Log_in.css">
</head>

<body>
      <div class="padre">
            <h1>
                  Bienvenidos a nuestro sistema
            </h1>
            <div class="hijo">
                  <h2>Acceso al sistema </h2>
                  <h4> Ingrse su Ususario y Rol. </h4>
                  <div class="hijo_menor">
                        <h3>Correo electronico: </h3>
                        <input type="email" placeholder="Digite su usuario" class="Tbx" id="Tbx_users">
                        <h3>Rol: </h3>
                        <input type="text" placeholder="Ej. Admin - Usuario - Diseño" class="Tbx" id="Tbx_rol">
                        <h3>Contraseña: </h3>
                        <input type="password" placeholder="Digite su contraseña" class="Tbx" id="Tbx_pass" >
                        <button class="Btn_ingreso" id="Btn_ingreso" onclick="Ingreso()">Bienvenidos</button>
                        <a class="Btn_registro" id="Link_registro" href="/View/Registro.html" >¡¡ Registrarse !!</a>
                  </div>
            </div>
      </div>
</body>
<script src="/Logic/Login.js"></script>
</html>